p{
	font-family: Lato;
}
h2{
	text-align: center;
	margin: auto;
	color: #3677fd;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	line-height: 35.12px;
}
h1{
	text-align: center;
	margin: auto;
	max-width: 900px;
	color: #ffffff;
	font-family:Lato;
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}
.cookies{
	height: 72px;
	margin: auto;
	text-align: center;
	background-color: #194277;
}
.cookies_text{
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
}

#cookies-button{
	width: 112px;
	height: 30px;
	margin: 20px 20px;
	border-radius: 15px;
	background-color: #ffffff;
	color: #194277;
	font-family: Lato;
	font-size: 12px;
	font-weight: bold;
	line-height: 16.36px;
	letter-spacing: 0.55px;
}
header{
	background-image: url("../img/header-background.png");
	background-size: 100%;
	text-align: center;
}
.wrapper{
	display: inline-block;
	max-width: 1140px;
	margin: auto;
	text-align: center;
	padding: 100px 0px;
}
header .wrapper{
	padding: 30px 0px;
}
.menu{
	display: inline-block;
	position: relative;
	float: right;
	
}
.circle-1{
	display: inline-block;
	text-align: center;
	margin: 40px 0px
	50px 0px;
	height: 150px;
	width: 150px;
	box-sizing: content-box; 
	border-radius: 50%;
	border: 10px solid transparent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}
.circle-2{
	height: 130px;
	width: 130px;
	background-color: #ffffff;
	border: solid 10px #5397fe;
	border-radius: 50%;
}

.headline-paragraph{
	text-align: center;
	margin: auto;
	padding: 40px 0px 80px 0px;
	max-width: 780px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
.hire-me{
	display: inline-block;
	text-align: center;
	margin: auto;
	width: 204px;
	height: 55px;
	border-radius: 28px;
	background-color: #ffffff;
	color: #3695ff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
.arrow{
	display: block;
	text-align: center;
	margin: auto;
	padding-top: 100px;
}
.about-me{
	background-color: #ffffff;
	text-align: center;
}
.about-me-paragraph{
	text-align: center;
	margin: auto;
	padding-top: 70px;
	max-width: 1065px;
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}
.expert-in{
	background-color: #f1f8ff;
	text-align: center;
}
.skills{
	display: inline-block;
	float: left;
	width: 30%;
	text-align: center;
	margin: 0px 15px;
}
.img{
	padding: 100px 0px;
}
.skills-headline{
	color: #3677fd;
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}
.skills-paragraph{
	padding: 20px 10px;
	color: #5a5a5a;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 35px;
}
@media only screen and (max-width: 600px) {
	.skills, .works-example, .clients-logo{
		display: block;
		width: 100%;
	}
}
.latest-works{
	background-color: #ffffff;
	text-align: center;
}
.latest-works h2{
	padding-bottom: 50px;
}
.works-example{
	display: inline-block;
	float: left;
	width: 30%;
	text-align: center;
	margin: 50px 15px;
}

.clients{
	background-color: #f1f8ff;
	text-align: center;
}
.clients  h2{
	padding-bottom: 80px;
}

.clients-logo{
	text-align: center;
	margin: auto;
}
footer{
	background-image: url(../img/footer-background.png);
	background-size: 100%;
	min-height: 247px;
	text-align: center;
}
.question{
	display: inline-block;
	float: left; 
	color: #ffffff;
	font-size: 50px;
	font-weight: 300;
	line-height: 65px;
	font-family: Lato;
	font-weight: 300;

}
.answer{
	font-weight: 700;
}
